asgiref==3.11.1
certifi==2025.8.3
charset-normalizer==3.4.6
cloudinary==1.44.1
Django==6.0.2
django-cloudinary-storage==0.3.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
gunicorn==25.3.0
idna==3.11
openpyxl==3.1.5
packaging==26.2
pillow==12.1.1
psycopg2==2.9.11
PyJWT==2.12.1
reportlab==4.4.10
requests==2.33.1
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
whitenoise