{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Your password</title>
    <link rel="stylesheet" href="{%static 'css/forgotpassword.css' %}">
</head>

<body>
   <form method="post">
    {% csrf_token %}
    <h2>Forgot Password</h2>

    {% if error %}
        <p style="color:red">{{ error }}</p>
    {% endif %}

    <div>
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter your registered email" required>
    </div>

    <button type="submit">Submit</button>
</form>

</body>
</html>