{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel = "stylesheet" href = "{% static 'css/resetpassword.css' %}">
</head>
<body>
    <form method="post">
    {% csrf_token %}
    <h2>Reset Password</h2>

    {% for error in errors %}
        <div>
            <p style="color: red;">{{error}}</p>
        </div>
        {% endfor %}
    <div>
        <label>New Password</label>
        <input type="password" name="password" placeholder="Enter new password" required>
    </div>

    <div>
        <label>Confirm Password</label>
        <input type="password" name="confirm_password" placeholder="Confirm new password" required>
    </div>

    <button type="submit">Reset Password</button>
</form>

</body>
</html>